{{ define "main" }}
    {{ $categoryTitle := .Title }}
    {{ $categoryDescription := "" }}

    {{ with .Data.Term }}
    {{ $lowerTerm := lower . }}  <!-- Convert to lowercase for case-insensitive comparison -->
    {{ if eq $lowerTerm "human in space" }}
        {{ $categoryTitle = i18n "lowtechtitle" }}
        {{ $categoryDescription = i18n "lowtechdescription" | default "Our emerging human presence in outer space introduces new challenges and opportunities. Alien environments highlight the complexity and fragility of our biology, offering new frameworks to create meaning and experience." }}
    {{ else if eq $lowerTerm "earth and sustainability" }}
        {{ $categoryTitle = i18n "hightechtitle" }}
        {{ $categoryDescription = i18n "hightechdescription" | default "Space and sustainability are not mutually exclusive endeavors. Outer space includes our home planet Earth. The cold, dark vastness reminds us of the beauty of our home while providing new opportunities for a more sustainable future." }}
    {{ else if eq $lowerTerm "pancosmic perspectives" }}
        {{ $categoryTitle = i18n "obsoletetitle" }}
        {{ $categoryDescription = i18n "obsoletedescription" | default "Everything in the universe is connected. We embrace ideas from across disciplines and borders to explore the potential and mysteries of space with an open mind and unwavering heart." }}
    {{ else if eq $lowerTerm "about" }}
        {{ $categoryTitle = i18n "about" }}
        {{ $categoryDescription = i18n "aboutdescription" | default "Learn about the alternative space blog." }}
    {{ end }}
{{ end }}

    <main class="article-list">
        <header>
            {{ if eq .Data.Singular "author" }}
                {{ i18n "written_by" | default "Written by" }}
            {{ else if eq .Data.Singular "translator" }}
                {{ i18n "translated_by" | default "Translated by" }}
            {{ else if eq .Data.Singular "tag" }}
                {{ i18n "theme" | default "Theme" }}
            {{ end }}
            <h1 class="entry-title">{{ $categoryTitle | default .Title }}</h1>
            {{ if $categoryDescription }}
                <p class="summary">{{ $categoryDescription }}</p>
            {{ end }}
        </header>
        <section id="list" class="grid">
            {{ $allposts := .Pages }}
            {{ $notunlisted := where .RegularPages ".Params.unlisted" "!=" "true" }}
            {{ $posts := $allposts | intersect $notunlisted }}
            {{ $paginator := .Paginate $posts }}
            {{ range $paginator.Pages }}
                {{ partial "article-list/default" . }}
            {{ end }}
        </section>
        {{ if gt $paginator.TotalPages 1 }}
            {{ partial "pagination" . }}
        {{ end }}
    </main>
{{ end }}