<header class="site-header">
  <!-- <h1><a id="top" href="{{ absLangURL "/" }}">{{ site.Title }}</a></h1> -->
  <title>the alt-space blog</title>
<script>
// Add this JavaScript to your file
document.addEventListener('DOMContentLoaded', function () {
  const darkModeToggle = document.getElementById('darkModeToggle');

  // Check the user's preference from local storage
  const isDarkMode = localStorage.getItem('darkMode') === 'enabled';

  // Set the initial dark mode state
  setDarkMode(isDarkMode);

  // Toggle dark mode when the switch changes
  darkModeToggle.addEventListener('change', function () {
    const darkModeEnabled = darkModeToggle.checked;
    setDarkMode(darkModeEnabled);
  });

  // Function to update styles based on dark mode state
  function setDarkMode(enabled) {
    if (enabled) {
      document.documentElement.setAttribute('data-theme', 'dark');
      localStorage.setItem('darkMode', 'enabled');
    } else {
      document.documentElement.removeAttribute('data-theme');
      localStorage.setItem('darkMode', 'disabled');
    }
  }
});
</script>


</head>
<body>

<a href="{{ absLangURL "/" }}">
<pre>
  .                                            .
  *   .                  .              .        .   *          .
  _   _                  _ _                                   _     _             
 | |_| |__   ___    __ _| | |_      ___ _ __   __ _  ___ ___  | |__ | | ___   __ _ 
 | __| '_ \ / _ \  / _` | | __|____/ __| '_ \ / _` |/ __/ _ \ | '_ \| |/ _ \ / _` |
 | |_| | | |  __/ | (_| | | ||_____\__ \ |_) | (_| | (_|  __/ | |_) | | (_) | (_| |
  \__|_| |_|\___|  \__,_|_|\__|    |___/ .__/ \__,_|\___\___| |_.__/|_|\___/ \__, |
                                       |_|                                  |___/
                                              
</pre>


</a>
  <div class="subtitle">
     <a href="{{ absLangURL "about" }}">{{i18n "sitesubtitle" | default .Site.Params.description}}      
    </a>

    
    
 

  

  {{ partial "nav" . }}
 
</header>
